<div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
  <div class="mdk-drawer-layout__content page-content">

    <!-- Header -->

    <div class="navbar navbar-expand navbar-light border-bottom-2" id="default-navbar" data-primary>

      <!-- Navbar toggler -->
      <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
        <span class="material-icons">short_text</span>
      </button>

      <!-- Navbar Brand -->
      <a routerLink="home" class="navbar-brand mr-16pt d-lg-none">
        <!-- <img class="navbar-brand-icon" src="./assets/public/images/logo/white-100@2x.png" width="30" alt="Lumangular"> -->

        <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

          <span class="avatar-title rounded bg-primary"><img
              src="./assets/public/images/illustration/student/128/white.svg" alt="logo" class="img-fluid" /></span>

        </span>

        <span class="d-none d-lg-block">Lumangular</span>
      </a>

      <ul class="nav navbar-nav d-none d-sm-flex flex justify-content-start ml-8pt">
        <li class="nav-item active">
          <a routerLink="home" class="nav-link">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="courses" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Courses</a>
          <div class="dropdown-menu">
            <a routerLink="courses" class="dropdown-item">Browse Courses</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="paths" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Paths</a>
          <div class="dropdown-menu">
            <a routerLink="home" class="dropdown-item">Browse Paths</a>
            <a routerLink="home" class="dropdown-item">Path Details</a>
            <a routerLink="home" class="dropdown-item">Skill Assessment</a>
            <a routerLink="home" class="dropdown-item">Skill Result</a>
            <a routerLink="home" class="dropdown-item">My Paths</a>
          </div>
        </li>
        <li class="nav-item">
          <a routerLink="pricing" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a routerLink="teachers" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">Teachers</a>
          <div class="dropdown-menu">
            <a routerLink="home" class="dropdown-item">Instructor Dashboard</a>
            <a routerLink="home" class="dropdown-item">Manage Courses</a>
            <a routerLink="home" class="dropdown-item">Manage Quizzes</a>
            <a routerLink="home" class="dropdown-item">Earnings</a>
            <a routerLink="home" class="dropdown-item">Statement</a>
            <a routerLink="home" class="dropdown-item">Edit Course</a>
            <a routerLink="home" class="dropdown-item">Edit Quiz</a>
          </div>
        </li>

      </ul>

      <ul class="nav navbar-nav ml-auto mr-0">
        <li class="nav-item">
          <a routerLink="home" class="nav-link" data-toggle="tooltip" data-title="Login" data-placement="bottom"
            data-boundary="window"><i class="material-icons">lock_open</i></a>
        </li>
        <li class="nav-item">
          <a routerLink="home" class="btn btn-outline-dark">Get Started</a>
        </li>
      </ul>
    </div>

    <!-- // END Header -->

    <!-- BEFORE Page Content -->

    <!-- // END BEFORE Page Content -->

    <!-- Page Content -->

    <router-outlet></router-outlet>



    <!-- // END Page Content -->

    <!-- Footer -->

    <div class="bg-white border-top-2 mt-auto p-2 ">
        <p class="text-50 text-center small mt-n1 mb-0">Copyright 2019 &copy; All rights reserved.</p>
    </div>

    <!-- // END Footer -->

  </div>

  <!-- // END drawer-layout__content -->

  <!-- Drawer -->

  <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content">
      <div class="sidebar sidebar-dark-pickled-bluewood sidebar-left" data-perfect-scrollbar>

        <!-- Sidebar Content -->

        <div class="d-flex align-items-center navbar-height">
          <form action="index.html" class="search-form search-form--black mx-16pt pr-0 pl-16pt">
            <input type="text" class="form-control pl-0" placeholder="Search">
            <button class="btn" type="submit"><i class="material-icons">search</i></button>
          </form>
        </div>

        <a routerLink="home" class="sidebar-brand ">
          <!-- <img class="sidebar-brand-icon" src="./assets/public/images/illustration/student/128/white.svg" alt="Lumangular"> -->

          <span class="avatar avatar-xl sidebar-brand-icon h-auto">

            <span class="avatar-title rounded bg-primary"><img
                src="./assets/public/images/illustration/student/128/white.svg" class="img-fluid" alt="logo" /></span>

          </span>

          <span>Lumangular</span>
        </a>

        <div class="sidebar-heading">Student</div>
        <ul class="sidebar-menu">

          <li class="sidebar-menu-item"  routerLinkActive="active">
            <a class="sidebar-menu-button" routerLink="home">
              <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
              <span class="sidebar-menu-text">Home</span>
            </a>
          </li>
          <li class="sidebar-menu-item" routerLinkActive="active">
            <a class="sidebar-menu-button" routerLink="courses">
              <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
              <span class="sidebar-menu-text">Browse Courses</span>
            </a>
          </li>
          <li class="sidebar-menu-item" routerLinkActive="active">
            <a class="sidebar-menu-button" routerLink="paths">
              <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">style</span>
              <span class="sidebar-menu-text">Browse Paths</span>
            </a>
          </li>

          <li class="sidebar-menu-item" routerLinkActive="active">
            <a class="sidebar-menu-button" routerLink="paths">
              <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">timeline</span>
              <span class="sidebar-menu-text">My Paths</span>
            </a>
          </li>
        </ul>

        <!-- // END Sidebar Content -->

      </div>
    </div>
  </div>

  <!-- // END Drawer -->

</div>
